#App {

  .btn-block {
    height: 50px;
  }

  .greater-block {

    .greater-text {
      margin-top: 8%;
      font-size: 25px;
      font-weight: 500;
    }
  }

  .form-lock {
    margin: 5% auto 0 auto;
  }

  .text-block {
    margin-top: 30px;
  }
}